name: Test out

on: [push]

jobs:
  prepare_branch:
    name: Prepare branch - Failure Run
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2-beta
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Dependencies
        run: npm install
      - name: check a site against sitespeed
        run: npm run sitespeed-check:failure
      - name: Archive generated report as an artefact for later review
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: report
          path: report


